header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    padding: 20px 30px 0px 30px;
}

header img {
    height: 30px;
    cursor: pointer;
}

